<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Chọn loại đầu ra"></nz-step>
    <nz-step nzTitle="Chọn đầu ra"></nz-step>
    <nz-step nzTitle="Chọn đầu vào"></nz-step>
    <nz-step nzTitle="Kết quả tìm thấy"></nz-step>
</nz-steps>

<div class="steps-content">
    <app-loai-dau-ra *ngIf="index == 1"></app-loai-dau-ra>
    <app-dau-ra *ngIf="index == 2" [loaidauraId]="loaidauraId"></app-dau-ra>
    <app-dau-vao *ngIf="index == 3" [dauvaoId]="dauvaoId"></app-dau-vao>
    <app-ket-qua *ngIf="index == 4"></app-ket-qua>
</div>
<div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Quay lại</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 3">
        <span>Tiếp tục</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 3">
        <span>Hoàn thành</span>
    </button>
</div>