<div style="padding-bottom: 20px; padding-top: 12px;">
    <p style="font-size: 20px; padding-bottom: 15px; font-weight: 600;">Vui lòng lựa chọn <u>đầu ra</u> bạn mong muốn!</p>
    <small>(Bằng cách chọn 1 trong các lựa chọn bên dưới)</small>
</div>
<br>
<nz-radio-group [(ngModel)]="radioValue">
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="A">Lỗi sản phẩm</label>
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="B">Định mức vải</label>
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="C">Định mức phụ liệu</label>
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="D">Tiêu chuẩn kỹ thuật</label>
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="E">Tính giá gia công</label>
</nz-radio-group>