<nz-tabset>
    <nz-tab nzTitle="Kiểu tay"><app-kieu-tay></app-kieu-tay></nz-tab>
    <nz-tab nzTitle="Kiểu thép tay">Content of Tab Pane 2</nz-tab>
    <nz-tab nzTitle="Kiểu cổ">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Kiểu túi">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Kiểu nẹp">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Kiểu thân trước">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Kiểu xẻ">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Kiểu thân sau">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Dài áo">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Dài tay">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Vòng ngực">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Vòng mông">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Thành phần vải 1">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Khổ vải 1">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Thành phần vải 2">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Khổ vải 2">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Thành phần vải 3">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Khổ vải 3">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Số sản phẩm/sơ đồ">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Số lao động/dây chuyền">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Mức lương kì vọng lao động">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Lợi nhuận dự kiến">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Phụ phí">Content of Tab Pane 3</nz-tab>
    <nz-tab nzTitle="Khoản chi phí khác">Content of Tab Pane 3</nz-tab>
</nz-tabset>
