<nz-tabset>
    <nz-tab nzTitle="Kiểu áo"><app-kieu-ao></app-kieu-ao></nz-tab>
    <nz-tab nzTitle="Kiểu tay"><app-kieu-tay></app-kieu-tay></nz-tab>
    <nz-tab nzTitle="Kiểu thép tay"><app-kieu-thep-tay></app-kieu-thep-tay></nz-tab>
    <nz-tab nzTitle="Kiểu cổ"><app-kieu-co></app-kieu-co></nz-tab>
    <nz-tab nzTitle="Kiểu túi"><app-kieu-tui></app-kieu-tui></nz-tab>
    <nz-tab nzTitle="Kiểu nẹp"><app-kieu-nep></app-kieu-nep></nz-tab>
    <nz-tab nzTitle="Kiểu thân trước"><app-kieu-than-truoc></app-kieu-than-truoc></nz-tab>
    <nz-tab nzTitle="Kiểu xẻ"><app-kieu-xe></app-kieu-xe></nz-tab>
    <nz-tab nzTitle="Kiểu thân sau"><app-kieu-than-sau></app-kieu-than-sau></nz-tab>
    <nz-tab nzTitle="Thành phần vải"><app-thanh-phan-vai></app-thanh-phan-vai></nz-tab>
</nz-tabset>
