<div class="tab-content">
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
</div>
<div class="tab-content">
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
</div>
<div class="tab-content">
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
</div>
<div class="tab-content">
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
</div>
<div class="tab-content">
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
</div>
<div class="tab-content">
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
    <div>
        <span style="font-size: 14px; font-weight: 600;">Kiểu áo:</span>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Chọn kiểu áo" nzShowSearch>
            <nz-option-group nzLabel="Chủng loại">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-option-group>
        </nz-select>
    </div>
</div>