<div class="send-request">
    <button nz-button nzType="danger">
        Thêm mới
    </button>
</div>
<nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
        <tr>
            <th>Số thứ tự</th>
            <th>Tên cổ</th>
            <th>Ngày tạo</th>
            <th>Ngày cập nhật</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
            <td>{{ data.maKieuCo }}</td>
            <td>{{ data.tenKieuCo }}</td>
            <td>{{ data.createdDate }}</td>
            <td>{{ data.modifiedDate }}</td>
            <td><button><i nz-icon nzType="edit" nzTheme="outline"></i></button> | <button><i nz-icon nzType="delete" nzTheme="outline"></i></button></td>
        </tr>
    </tbody>
</nz-table>