<div style="padding-bottom: 20px; padding-top: 12px;">
    <p style="font-size: 20px; padding-bottom: 15px; font-weight: 600;">Vui lòng lựa chọn <u>loại áo</u> mà bạn mong muốn!</p>
    <small>(Bằng cách chọn 1 trong các lựa chọn bên dưới)</small>
</div>
<br>
<nz-radio-group [(ngModel)]="radioValue">
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="A">Sản phẩm áo T-SHIRT 2020</label>
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="B">Sản phẩm áo POLO Unisex</label>
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="C">Sản phẩm áo sơ mi công sở</label>
    <label style="font-size: 15px; margin-left: 42px;" nz-radio nzValue="D">Sản phẩm áo thời trang mùa hè</label>
</nz-radio-group>